<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sam.no_please_test" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/game_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/game_logo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sam.no_please_test.MainActivity" />
        </activity>
        <activity
            android:name=".Player_Select"
            android:icon="@mipmap/game_logo"
            android:label="@string/title_activity_player__select"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sam.no_please_test.MainActivity" />
        </activity>
        <activity
            android:name=".go_to_game"
            android:icon="@mipmap/game_logo"
            android:label="@string/title_activity_go_to_game"
            android:parentActivityName=".Player_Select" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sam.no_please_test.Player_Select" />
        </activity>
        <activity
            android:name=".score_screen"
            android:icon="@mipmap/game_logo"
            android:label="@string/title_activity_score_screen"
            android:parentActivityName=".go_to_game" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sam.no_please_test.go_to_game" />
        </activity>
        <activity
            android:name=".Tutorial"
            android:icon="@mipmap/game_logo"
            android:label="@string/title_activity_tutorial"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sam.no_please_test.MainActivity" />
        </activity>
    </application>

</manifest>
